.root{
    -fx-background-color: #EEE9E9;
}
#mainContainer{
    -fx-text-fill: black;
    -fx-font-size: 25px;
}
#outputField{
    -fx-font-size: 40px;
}
.separator{
    -fx-background-color: #AAA6A6;
}
.button
{
    -fx-background-color: #EEE9E9;
}
.button:hover
{
    -fx-background-color: #DBD9D9;
}
#clearButton, #delButton, #percButton, #divButton, #multButton, #extrButton, #addButton, #eqButton, #changeButton {
    -fx-text-fill: #FC7F1D;
}
#divButton, #extrButton, #addButton, #eqButton{
    -fx-font-size: 30px;
}
#changeButton{
    -fx-background-radius: 10px;
    -fx-background-color: #FC7F1D;
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

#eqButton{
    -fx-background-radius: 100px;
    -fx-background-color: #FC7F1D;
    -fx-background-insets: 0 13;
    -fx-text-fill: black;
}